logging buffered 512000
no logging console
service timestamps log datetime msec
logging origin-id hostname
!
hostname {{hostname}}
!
{% for ip in event_config["ntp_servers"] %}
ntp server {{ ip }}
{% endfor %}
!
{% include "_c_snmp.j2" %}
!
service unsupported-transceiver
!
switch 1 priority 15
!
aaa new-model
!
aaa authorization exec default local
!
clock timezone Zulu 0
!
crypto key generate rsa modulus 2048
!
ip ssh version 2
!
username admin privilege 15 secret 0 {{ event_config["admin_password"] }}
enable secret {{ event_config["admin_password"] }}
exit
!

